.switch-wrap {
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  margin: 20px;
  position: relative;
}
.flag{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  margin: 1px;
}