.tap-wrap{
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
}
.tap-li{
  width: 20%;
  text-align: center;
  padding: 10px 0;
  flex-shrink: 0;
  border-bottom: 1px solid #ccc;
}
.tap-active{
  color:blue;
  border-bottom: 1px solid blue;
}
