.progress{
  margin: 10px;
  width: 200px;
  height: 5px;
  background: #ccc;
  border-radius: 5px;
  position: relative;
  float: left;
}
.progress-item{
  height: 100%;
  background: skyblue;
  position: absolute;
  border-radius: 100%;
  left: 0;
  top: 0;
}
.text{
  font-size: 14px;
}