.select{
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border:1px solid #ccc;
  border-radius: 5px;
}
.options{
  width: 100px;
  height: 115px;
  overflow-y: auto;
  border:1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  font-size: 14px;
  position: absolute;
  z-index: 99;
}
.option{
  width: 100%;
  padding:5px 10px;  
}
.option:hover{
  background: #E6F7FF;
}